Thumbs.db
.DS_Store
.DS_Store?
*.bak
.index.db
.index.json
/fsh-generated
/input-cache
/output
/temp
/template

# Windows build scripts
*.bat

# Local publisher scripts (not needed; HL7 auto IG builder handles CI builds)
_updatePublisher.sh
_gencontinuous.sh
_build.sh